/FAPE/nbproject/private/
/FAPE/build/
/FAPE/dist/
out
.idea*
project/
target/
/fape/problems/generated
/fape/problems/testCases
*.log
*.aux
*~
experiments/
results/
*.csv
*.CSV
*.png
generated*/
*.dot
*.ps
*.gnuplot
*.bbl
*.blg
*.pdf
*.out
*.backup
*.svg
.directory
