/FAPE/nbproject/private/
/FAPE/build/
/FAPE/dist/
out
.idea*
target/
planstack/graph
planstack/anml
planstack/constraints
*.log
*.aux
*~
experiments/
results/
*.csv
*.CSV
*.png
generated*/
*.dot
*.ps
*.gnuplot
*.bbl
*.blg
*.pdf
*.out
*.backup
*.svg
.directory
